<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RB10.Bot.Amazon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <RB10.Bot.Amazon.Properties.Settings>
            <setting name="ItemUrl" serializeAs="String">
                <value>https://www.amazon.co.jp/dp/B01N5QLLT3?ref=emc_b_5_i&amp;th=1</value>
            </setting>
            <setting name="ShopName" serializeAs="String">
                <value>Amazon</value>
            </setting>
            <setting name="UpperLimitPrice" serializeAs="String">
                <value>33500</value>
            </setting>
            <setting name="LoginID" serializeAs="String">
                <value>codino.baggio10@gmail.com</value>
            </setting>
        </RB10.Bot.Amazon.Properties.Settings>
    </userSettings>
</configuration>